
    html,
    body {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 0;
      min-height: 180px;
      padding: 0;
      width: 500px;
    }

    h1 {
      font-size: 22px;
      font-weight: 400;
      margin: 0;
      color: #2f5876;
    }

    label,button,input,select{
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      color: #2f5876;
    }
    
    select,input,button{
      width: 300px;
    }

    img {
      width: 30px;
    }

    .modal-header {
      align-items: center;
      border-bottom: 0.5px solid #dadada;
    }

    .modal-content {
      padding: 0 22px;
    }


    .logo {
      padding: 16px;
    }

    .logo-icon {
      vertical-align: text-bottom;
      margin-right: 12px;
    }

    .item {
  content:'';
  display: block;
  margin-bottom: 3px;
  }

  .buttons{
    background-color: white;
  }

  .marginall{
    margin-left: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
  }